.orderConfirmation {
  border: 3px solid var(--secondary-color);
  border-radius: 5px;
  padding: 15px;
}

p {
  padding-bottom: 10px;
}

table {
  background-color: white;
  border-radius: 5px;
  width: 50%;
}

td {
  text-align: center;
}

thead th {
  background-color: var(--secondary-text);
}

tr:nth-child(even) {
  background-color: rgb(224, 245, 224);
}
